<main [ngClass]="{ 'dark-mode': isThemeChanged }" style="height: calc(100vh - 0px); width: 100%;">
  <app-header (themeWasChanged)="changeTheme($event)" style="width: 100%"></app-header>
  <div class="w" style="padding: 0px 15px">
    <div class="main" style="height: calc(100% - 10px); width: 100%">
      <div class="wrapper-border s" style="margin-top: 15px">
        <div class="row" style="width: 100%">
          <div class="col-md-12">
            <div class="content wrapper-border">
              <div class="img-section">
                <img src="https://itp.live/public/styles/full_img/public/images/2021/10/31/nftmonkey_3.png?Hv9WK--v" alt="">
              </div>
            </div>
          </div>
          <div class="buttons" style="align-items: center; display: flex; justify-content: center; width: 100%; flex-direction: column">
            <div class="input" style="width: fit-content; margin-bottom: 15px; margin-top: -5px;">
              <input type="text" class="input-costum" placeholder="100">
            </div>
            <div class="btn" style="width: fit-content">
              <button class="button btn-primary-costum" style="width: 120px">
                Buy
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>
